
.App {
    height: 100vh;
}
  
/* NAVIGATION CONTAINER */
.nav-container {
    height: 80px;
    padding: 0 20px;
    background: #0091ef;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

/* GROUPED STYLES */
.nav-container .logo,.routes,.hamburger {
    display: flex;
    align-items: center;
    width: 33.3%;
}

/* NAV LOGO STYLE AND CHILDREN */
.nav-container .logo {
    justify-content: flex-start;
    font-size: 20px;
}
.nav-container .logo .logo-icon {
    padding-right: 10px;
}
/* NAV ROUTE AND CHILDREN */
.nav-container .routes {
    justify-content: center;
}

.nav-container .routes ul{ 
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.nav-container .routes ul li {
    margin: 0 10px;
    cursor: pointer;
}

/* NAV HAMBURGER */

.nav-container .hamburger {
    justify-content: flex-end;
    cursor: pointer;
}
/* APP BODY */
.app-body {
    display: flex;
    justify-content: center;
    height: 91.8%;
    margin-top: 51px;
}

/* ACTIVITIES AND CHILDREN */
.app-body .activities-container {
    height: 469px;
    width: 746px;
}

.app-body .activities-container .activities {
    background: #fff;
    height: 421px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.06);
}
.app-body .activities-container .activities .activity-header {
    padding: 20px 0 5px 20px;
}
.app-body .activities-container .activities .activity-header span {
    font-size: 18px;
    color: #79828b;
    text-decoration: none solid rgb(121, 130, 139);
    line-height: 15px;
    letter-spacing: 1.5px;
}

/* ACTIVITY BLOCK */
.activity {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #e6ebf0;
}
.activity:last-of-type {
    border-bottom: none;
}
.activity .activity-body {
    display: flex;
}
.activity .activity-body .profile-img {
    margin-right: 20px;
}
.activity .activity-body .profile-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit:cover;
}
.activity .activity-body .user-info .name{
    font-size: 16px;
    color: #42505c;
    text-decoration: none solid rgb(66, 80, 92);
    margin-bottom: 8px;
}
.activity .activity-body .user-info .submsg{
    font-size: 14px;
    color: #79828b;
    text-decoration: none solid rgb(121, 130, 139);
    margin-bottom: 8px;
}
.activity .activity-body .user-info .pay-out{
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
}
.activity .activity-body .user-info .pay-out .price-paid {
    color: #42505c;
}
.activity .activity-body .user-info .pay-out .price-paid .currency-symbol{
    color: #79828B;
}

.activity .last-active {
    font-size: 12px;
    color: #79828b;
    text-decoration: none solid rgb(121, 130, 139);
}

/* CONTAINER HEADER */
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.container-header .title {
    font-size: 20px;
    color: #42505C;
    text-decoration: none solid rgb(66, 80, 92);
    letter-spacing: 0.25px;
}
.container-header .action {
    font-size: 14px;
    color: #0091EF;
    text-decoration: none solid rgb(0, 145, 239);
    text-transform: uppercase;
    letter-spacing: 0.25px;
    line-height: 15px;
    letter-spacing: 1.5px;
}

